Debug
.project
.cproject
.settings
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
formseher
*.sublime-project
*.sublime-workspace
vendor/gtest
bin/
lib/
doc/html
*.pro.user*
*.pro.autosave*


